.container {
  @apply flex justify-center items-center
}

.container picture, .container img {
  @apply flex justify-center items-center animate-fadeIn
}

.container img {
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover
}