.container {
  @apply flex justify-center items-center fixed top-0 right-0 left-0 bottom-0 z-[999]
}

.blur {
  @apply fixed top-0 right-0 left-0 bottom-0 opacity-100 bg-none backdrop-saturate-[30%]
  transition-all z-[99] supports-[backdrop-filter]:backdrop-blur
}

.contentContainer {
  @apply relative flex flex-col justify-center items-center m-4 pt-8 px-4 pb-12 gap-4 w-full max-w-sm h-96 z-[100]
  border-2 border-outline border-t-common bg-itemcommon bg-primary-800 shadow-secondary animate-bounceIn
}

.contentContainer.closing {
  @apply animate-bounceOut
}

.prevBtn {
  @apply absolute -top-7 left-0 mx-auto hover:-translate-y-[1%] md:top-0 md:bottom-0 md:-left-16 md:my-auto md:hover:-translate-x-[5%] 
  bg-transparent border-none w-fit h-fit text-common text-7xl cursor-pointer transition-all
}

.nextBtn {
  @apply absolute -bottom-7 right-0 mx-auto hover:translate-y-[1%] md:top-0 md:bottom-0 md:-right-16 md:my-auto md:hover:translate-x-[5%] 
  bg-transparent border-none w-fit h-fit text-common text-7xl cursor-pointer transition-all
}

.titleContainer {
  @apply flex justify-center items-center flex-grow w-full
}

.title {
  @apply relative flex justify-center items-center text-2xl font-semibold text-secondary-400
}

.descriptionContainer {
  @apply flex justify-center items-center flex-grow p-4 w-full text-xl font-medium text-center text-secondary-500
}

.description {
  @apply flex justify-center items-center w-full
}

.costsContainer {
  @apply flex justify-center items-center gap-4 w-full flex-grow text-secondary-500
}

.cost {
  @apply flex justify-center items-center gap-2
}

.costImage_Container {
  @apply relative flex justify-center items-center
}

.costImage {
  @apply h-14 w-full
}

.costAmount {
  @apply text-secondary-400 text-xl
}

.btnContainer {
  @apply flex justify-center items-center flex-grow mb-4 px-8 gap-4 w-full
}

.btnContainer button {
  @apply flex-grow
}

.yesBtn, .noBtn {
  @apply bg-greenLight text-primary-900 font-bold text-base capitalize rounded py-2 px-3 cursor-pointer transition-all
  hover:bg-green-600
}

.noBtn {
  @apply bg-red-400 hover:bg-red-600
}

.link {
  @apply absolute bottom-8 flex justify-center items-center flex-grow bg-primary-900 py-2 px-5 -mb-8 rounded-tr-lg rounded-tl-lg
  text-base transition-all hover:pb-3
}