.input {
  @apply text-xl h-11 text-secondary-500 bg-primary-800 border border-secondary-500 rounded rounded-tr-none rounded-br-none py-2 px-4
  w-full placeholder:text-secondary-400
}

.button {
  @apply bg-button border-transparent h-11 grid items-center flex-grow-0 flex-shrink-0 basis-20 p-2 capitalize rounded-tr rounded-br
  cursor-pointer transition-all text-lg font-medium hover:bg-primary-600 hover:text-secondary-500; 
}

.list {
  @apply absolute top-11 left-0 right-48 bg-primary-800 border border-outline border-t-0 rounded z-50 list-none max-h-60 overflow-auto
}