.container {
  @apply relative flex gap-14 flex-col items-center bg-primary-900 bg-itemcommon border-t-2 border-t-common w-full
}

.uncommon {
  @apply bg-itemuncommon border-uncommon
}

.rare {
  @apply bg-itemrare border-t-rare
}

.epic {
  @apply bg-itemepic border-t-epic
}

.legendary {
  @apply bg-itemlegendary border-t-legendary
}

.exotic {
  @apply bg-itemexotic border-t-exotic
}

.craftContainer {
  @apply relative flex flex-col gap-8 items-center w-full
}

.imageContainer {
  @apply relative flex justify-center items-center mt-4 -mb-12 z-0
}

.image {
  @apply h-64 w-full
}

.itemFrame {
  @apply absolute top-0 bottom-0 mx-auto bg-black bg-opacity-25 w-72 rounded-full
  -z-[1]
}

.title {
  @apply relative text-secondary-400 text-3xl text-center flex justify-center items-center font-bold
}

.common .title {
  @apply text-commonText
}

.uncommon .title {
  @apply text-uncommonText
}

.rare .title {
  @apply text-rareText
}

.epic .title {
  @apply text-epicText
}

.exotic .title {
  @apply text-exoticText
}

.legendary .title {
  @apply text-legendaryText
}

.categoryTitle {
  @apply absolute -top-10 text-2xl text-secondary-400 font-semibold
}

.description {
  @apply text-xl font-medium text-secondary-500 bg-primary-900 py-2 px-4 rounded-lg max-w-[80ch]
  border border-outline mx-auto
}

.armorValue_Container,
.effectContainer,
.timeContainer,
.rarityContainer {
  @apply relative flex justify-center items-center gap-2 p-4 w-[45] md:w-[60ch] bg-primary-900
  rounded-lg border border-outline
}

.armorValue,
.effect,
.time,
.rarity {
  @apply text-xl text-center text-secondary-500 capitalize
}

.rarity {
  @apply font-bold brightness-125
}

.common .rarity {
  @apply text-common
}

.uncommon .rarity {
  @apply text-uncommon
}

.rare .rarity {
  @apply text-rare
}

.epic .rarity {
  @apply text-epic
}

.exotic .rarity {
  @apply text-exotic
}

.legendary .rarity {
  @apply text-legendary
}

.costsContainer {
  @apply relative flex justify-center items-center gap-4 bg-primary-900
  rounded-lg w-[45ch] md:min-w-[80ch] mt-4 mx-4 mb-12 md:mt-8 md:mx-0
  border border-outline
}

.costsList {
  @apply flex flex-wrap justify-center items-center w-full
}

.cost {
  @apply flex justify-center items-center p-4 gap-2
}

.costImage_Container {
  @apply flex justify-center items-center
}

.costImage {
  @apply h-16 w-full
}

.costAmount {
  @apply text-xl text-secondary-400
}