.container {
  @apply relative flex w-full bg-primary-900 border-t border-outline
}

.contentContainer {
  @apply relative flex flex-col justify-center items-center flex-grow text-secondary-400 transition-all
}

.button {
  @apply fixed top-2 z-[998] md:absolute md:top-20 md:z-0 m-auto bg-secondary-500 border border-outline text-primary-900
  text-xl font-semibold capitalize rounded py-2 px-3 cursor-pointer transition-all hover:bg-secondary-700
}