.container {
  @apply relative flex flex-col-reverse lg:flex-row w-full bg-primary-900 border-t-2 border-outline
  overflow-x-hidden transition-all
}

.contentContainer {
  @apply relative flex flex-col items-center flex-grow transition-all
}

.button {
  @apply fixed top-3 z-[999] md:absolute md:z-[2] left-0 right-0 mx-auto bg-primary-600
  rounded py-2 px-3 transition-all border border-outline h-10 w-28 animate-pulse
}

.selectorContainer {
  @apply absolute -top-8 -left-2 right-0 w-full max-w-[400px] md:left-0 md:max-w-[850px] xl:max-w-[1255px] 
  mx-auto mt-8 z-[1] h-20 p-4;
}

.selector {
  @apply flex flex-col gap-2 border-2 border-outline
  shadow-secondary bg-primary-600 rounded-md animate-pulse
  w-full max-w-[192px] max-h-14 transition-all overflow-hidden
  h-12;
}

.itemsContainer {
  @apply relative grid grid-cols-itemscontainer gap-y-12 gap-x-8 justify-center my-24 px-4
  w-full max-w-screen-2xl;
}