.container {
  @apply relative flex flex-col items-center gap-12 py-8 w-full
  border-t border-outline
}

.contactContainer {
  @apply flex flex-col bg-primary-900 rounded-lg
  p-4 max-w-[80ch] border-2 border-outline
}

.contactContainer h2 {
  @apply text-secondary-400 text-3xl p-2 border-b-2 border-secondary-400
}

.contactContainer p {
  @apply text-secondary-500 text-xl p-2
}

.contactContainer a {
  @apply text-secondary-300 border-b border-dotted border-secondary-300
  hover:opacity-50 transition-all
}