.button {
  @apply absolute bottom-1 md:bottom-3 right-3 z-[995] flex justify-center items-center gap-2
  bg-transparent text-secondary-500 text-2xl border border-secondary-500 py-2 px-4
  cursor-pointer transition-all hover:bg-secondary-500 hover:text-primary-800 rounded
}

.button svg {
  @apply h-6
}