.container {
  @apply relative flex flex-col-reverse lg:flex-row w-full bg-primary-900 border-t-2 border-outline
}

.contentContainer {
  @apply relative flex flex-col items-center flex-grow text-secondary-400 transition-all
}

.button {
  @apply fixed top-3 z-[999] md:absolute md:z-0 left-0 right-0 mx-auto w-fit bg-secondary-500 text-primary-900
  text-2xl font-semibold rounded py-2 px-3 cursor-pointer transition-all hover:bg-secondary-700
}